@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  /* Emerald 500 */
  --color-secondary: #facc15;
  /* Yellow 400 */
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f3f4f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #10b981;
  /* Primary Green */
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}